* {
  box-sizing: border-box;
}

body {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
body #root {
  width: 70%;
  margin-bottom: 50px;
}
body #settings {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  cursor: pointer;
}
body #settingsMenu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
body #settingsMenu #settingsMenuContent {
  background: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
}
body #settingsMenu #settingsMenuContent label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
body #settingsMenu #settingsMenuContent input[type=text] {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
}
body #settingsMenu #settingsMenuContent input[type=submit] {
  cursor: pointer;
  padding: 10px;
  border: none;
  outline: none;
}
body .container hr {
  height: 5px;
  background: black;
  border: none;
  outline: none;
}
body .container h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
}
body .container .money p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
body .container .money .balance {
  text-align: center;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
body .container .money .others {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .container .money .others .income, body .container .money .others .expense {
  background-color: white;
  flex: 1;
  border-radius: 10px;
  margin: 10px;
}
body .container .money .others .income {
  color: green;
}
body .container .money .others .expense {
  color: red;
}
body .container .history h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body .container .history h4 span {
  font-size: 12px;
  color: blue;
  cursor: pointer;
}
body .container .history ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body .container .history ul li {
  background: white;
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  line-height: 1.5;
  font-weight: bold;
}
body .container .history ul li span {
  font-weight: normal;
  font-size: 14px;
}
body .container .history ul .income {
  border-right: 7px solid green;
}
body .container .history ul .expense {
  border-right: 7px solid red;
}
body .container .history #historyAll {
  position: fixed;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}
body .container .history #historyAll #historyAllContent {
  width: 70%;
  background-color: #dfdfdf;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.2s ease-in;
  margin-bottom: 50px;
}
body .container .history #historyAll #historyAllContent h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}
body .container .history #historyAll #historyAllContent p {
  text-align: right;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
body .container .input h4 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body .container .input label {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
body .container .input input[type=text], body .container .input input[type=number], body .container .input input[type=submit] {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
}
body .container .input input[type=submit] {
  cursor: pointer;
  background-color: #0707df;
  color: white;
  border-radius: 5px;
}
body .hide {
  display: none !important;
}
body .footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 10px;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
